@model ComposedViewModels.ViewModels.PersonalInformationViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.PageTitle</h2>
<form>
    <fieldset>
        <legend>@Model.PageTitle</legend>
    </fieldset>
</form>
