@model ComposedViewModels.ViewModels.Fields.DateOfBirthInformation
@Html.Hidden("ModelType", Model.GetType())
<div class="alert alert-info">
<p>
    @Html.LabelFor(model => model.DateOfBirth)
    @Html.EditorFor(model => model.DateOfBirth)
    @Html.ValidationMessageFor(model=>model.DateOfBirth)
</p>
</div>

